<div class="container">
    <div class="row">

    <div class="container" ng-hide="showme">
    <br><br><br>
    <div class="col-md-6 col-md-offset-3">
        <h2 class="form-signin-heading text-center">Enter your number</h2>
        <input type="text" name="country_code" ng-model="country_code" class="form-control" placeholder="Country Code" required autofocus>
        <input type="text" name="mob_number" ng-model="mob_number" class="form-control" placeholder="Mobile Number" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" ng-click="showme=true ; getLogs()">Sign In</button>
    </div>
    </div>

    <div class="container" ng-show="showme">
    This app has been running since: {{ total_uptime }}
    <br>
    So basically live since {{ total_human_uptime }}
        <div class = "table-responsive">
            <table class = "table">
            <caption><h2>Message Logs</h2></caption>
            <br><br>
            <thead>
             <tr>
                <th>Time of Dispatch (in UTC)</th>
                <th>Time (in readable form) [still in UTC]</th>
                <th>Delivery Status</th>
             </tr>
            </thead>
            <tbody ng-repeat="log in response">
                 <tr class="success" ng-if="log.is_delivered == true">
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.human_time }}</td>
                    <td>{{ log.is_delivered }}</td>

                 </tr>
                 <tr class="danger" ng-if="log.is_delivered == false">
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.human_time }}</td>
                    <td>{{ log.is_delivered }}</td>
                 </tr>
            </tbody>
           </table>
        </div>
    </div>

    </div>
</div>
