<div class="container" ng-controller="signupController">
<div class="wrapper">
    <div class="container" ng-hide="showme">
        <div class="row">
        <br><br><br>
            <div class="col-md-6 col-md-offset-3">
                <h2 class="form-signin-heading text-center">Fill the form to register</h2>
                <input type="text" name="pname" ng-model="pname" class="form-control" placeholder="Name" required autofocus>
                <input type="text" name="country_code" ng-model="country_code" class="form-control" placeholder="Country Code" required autofocus>
                <input type="text" name="mob_number" ng-model="mob_number" class="form-control" placeholder="Mobile Number" required autofocus>
                <button class="btn btn-lg btn-primary btn-block" ng-click="showme=true ; signup()">Register</button>
            </div>
        </div>

    </div>

    <div class="container" ng-show="showme">
        <div class="row">
            <br><br><br>
            <div class="col-md-6 col-md-offset-3">
                <h2 class="form-signin-heading text-center">
                You will receive a call for confirmation.
                <br>Enter the following code when you get the call:
                </h2><br><br>
            </div>

            <div class="col-md-8 col-md-offset-3">
                <b>Token: </b>{{token}}
            </div>
        </div>
    </div>
</div>
</div>
